* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
}

.background {
  height: 100vh;
  width: 100%;
  background: url("assets/savana.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.bear1 {
  background-image: url("assets/lionwithflame.png");
  height: 100px;
  width: 80px;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vh;
  height: 70vh;
  width: 20vh;
  background-image: url("assets/rocks-stones.png");
}
#title {
  position: absolute;
  color: orange;
  font-size: 100px;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#handle {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  position: absolute;
  z-index: 10;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 130px;
  width: 200px;
  text-align: center;
  background-image: url("assets/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.messageStyle {
  font-weight: 400;
  font-style: normal;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5%;
}

.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  top: 0;
  left: 0;
  margin: 10px;
}

.score_val {
  color: gold;
  font-weight: bold;
}

@media only screen and (max-width: 1080px) {
  .message {
    font-size: 50px;
    top: 50%;
    white-space: nowrap;
  }

  #handle {
    font-size: 20px;
    top: 90%;
  }

  #title {
    font-weight: 400;
    font-style: normal;
    top: 20%;
  }
  .score {
    font-size: 8vh;
  }

  .bear1 {
    width: 90px;
    height: 90px;
  }

  .pipe_sprite {
    width: 14vw;
  }
}
